    html, body, p, a {
        padding: 0;
        border: 0;
        margin: 0;
    }

    .buttonRow {
        padding: 20px;
        width: 100px;
    }

    .row{
        padding-left: 20px;
        padding-top: 10px;
    }

    input {
    width: 100%
    }

    .container{
        height: auto;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: lightgrey;
        color: black;
        text-align: center;
    }

